@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="text-center">
    <h1 class="display-4">Bienvenido!!</h1>
    <div class="slide2" style="padding-top: 45px;">



        <ul>
            <li>

                <img src="https://www.eleconomista.com.mx/__export/1633392568250/sites/eleconomista/img/2021/07/30/ingenieria-laboral-relaciones-laborales_1.jpg_1015297232.jpg" />
            </li>
            <li>

                <img src="https://welcome.atlasgov.com/static/a79e39343f87703e249f3467fb6d2c83/Criativo-2_Codigo-de-etica-en-la-empresa-Que-es-y-como-elaborarlo.webp" />
            </li>
            <li>

                <img src="https://grupo1171fundamentosdeadministracionfca.wordpress.com/wp-content/uploads/2017/09/etica-contador.jpg?w=740" />
            </li>
         
            <li>

                <img src="https://www.aseslp.gob.mx/img/codigoconducta.png " />
            </li>
            <li>

                <img src=" https://www.gob.mx/cms/uploads/document/main_image/33990/Conoce-el-Co_digo-en-para-ti.jpg" />
            </li>
        </ul>



    </div>
</div>
