@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}

<H1> Examen Etica M1 </H1>





<a asp-action="Calificar" asp-controller="Etica" asp-route-id ="@TempData["Detalle"]">
    Guardar Examen
</a>